.NavBar {
    background-color: black;
    background-image: url("../../../static/img/path-567-10@1x.png");
    background-size: cover;
    display: flex;
    height: 85px;
    justify-content: flex-end;
    left: 0;
    min-width: 405px;
    padding: 25px 50px;
    position: fixed;
    bottom: 0;
}


.flex-row {
    align-items: center;
    align-self: center;
    display: flex;
    margin-right: 0;
    margin-top: 10px;
    min-width:320px;
}

.icon-home {
    height: 20px;
    margin-bottom: 2.25px;
    object-fit: cover;
    width: 19px;
}

.stroke-container {
    height: 25px;
    margin-bottom: 1.25px;
    margin-left: 49px;
    position: relative;
    width: 24px;
}

.stroke-1 {
    height: 7px;
    left: 6px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 13px;
}

.stroke-3 {
    height: 2px;
    left: 15px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 2px;
}

.stroke-5 {
    height: 2px;
    left: 8px;
    object-fit: cover;
    position: absolute;
    top: 11px;
    width: 2px;
}

.stroke-7 {
    height: 20px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 5px;
    width: 24px;
}

.overlap-group {
    align-items: flex-start;
    background-image: url("../../../static/img/stroke-1-100@1x.png");
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 21px;
    justify-content: flex-end;
    margin-bottom: 2.3px;
    margin-left: 54px;
    min-width: 23px;
    padding: 4px 3.9px;
}

.stroke-3-1 {
    height: 4px;
    object-fit: cover;
    width: 4px;
}

.flex-col {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 36px;
    min-height: 29px;
    width: 30px;
}

.icon-user {
    height: 20px;
    margin-right: 0;
    object-fit: cover;
    width: 16px;
}

.line-6 {
    height: 2px;
    object-fit: cover;
    width: 30px;
}