.welcomeScreen {
    overflow: auto;
    height: 985px;
    margin-left: -353px;
    margin-top: -211px;
    position: relative;
}

.hintergrund {
    position: fixed;
    width: 1218px;
}

.banderole_-logo {
    height: 450px;
    left: 495px;
    object-fit: cover;
    position: absolute;
    width: 175px;
}

.title {
    color: black;
    font-size: 28px;
    font-weight: 700;
    left: 465px;
    letter-spacing: 1px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 483px;
    white-space: pre-line;
}

.cit-kar-250222-5 {
    height: 340px;
    left: 402px;
    object-fit: cover;
    position: absolute;
    top: 582px;
    width: 485px;
}

.button {
    background-color: hwb(159deg 40% 40% / 55%);
    border-radius: 5px;
    font-size: 18px;
    height: 45px;
    width: 175px;
}

.button1 {
    display: flex;
    margin-left: 8rem;
}




