.welcomeScreen {
    overflow: auto;
    height: 1023px;
    margin-left: -365px;
    margin-top: -211px;
    position: relative;
    width: 825px;
}

.hintergrund {
    position: absolute;
    top: 210px;
    width: 1218px;
}

.banderole_-logo {
    height: 440px;
    left: 465px;
    object-fit: cover;
    position: absolute;
    width: 176px;
}

.title {
    color: black;
    font-size: 28px;
    font-weight: 700;
    left: 438px;
    letter-spacing: 1px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 483px;
    white-space: pre-line;
}

.cit-kar-250222-5 {
    height: 305px;
    left: 343px;
    object-fit: cover;
    position: absolute;
    top: 582px;
    width: 485px;
}

.button {
    background-color: hwb(159deg 40% 40% / 55%);
    border-radius: 5px;
    font-size: 18px;
    height: 45px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button1 {
    display: flex;
    margin-left: 6rem;
}




