.card-container{
    width: 30%;
    background-color: white;
    box-shadow: 10px 10px 5px 0px rgb(0 0 0 / 75%);
    margin: 0.1rem;
    min-height: 9rem;
    text-align: center;
    padding: 1rem 0
}

h4 {
    text-align: center;

}

.card-img{
   /* max-width: 70%;*/
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;

}

