.header {
    background-image: url(http://localhost:3000/static/media/path-567-10@1x.f1a9de0….png);
    background-color: black;
    font-size: large;
    color: white;
    background-size: cover;
    display: flex;
    min-height: 80px;
    padding: 2.5px 14.5px;
    position: fixed;
    top: 0;
    width: 388px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.arrow1 {
    display: flex;
}

.welcome-by-milkly {
    left: 0;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}
