.productOverview {
    background-color: white;
    height: 480px;
    width: 440px;
}

.product-detail_background {
    height: 244px;
    object-fit: cover;
    width: 522px;
}

.detailsOverview {
    padding-top: 10rem;
    overflow: auto;

}

.product-detail_container {
    border: solid grey;
    border-radius: 20px;
    margin-left: 2rem;
    width: 80%;
    aspect-ratio: 1/1;
}

.product-detail_img {
    display: grid;
    justify-content: center;
    align-items: center;
}