.Article-Milk-Products {
    align-items: flex-start;
    display: flex;
    gap: 6px;
    min-width: 420px;
}

.milk-container {
    background-color: white;
    border-radius: 5px;
    height: 100px;
    position: relative;
    width: 100px;
}

.bild-milch {
    height: 96px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 4px;
    width: 100px;
}
.milch {
    left: 37px;
    letter-spacing: 0;
    line-height: 11px;
    position: absolute;
    text-align: center;
    top: 9px;
    white-space: nowrap;
}

.laktosefrei-container {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    min-height: 100px;
    width: 100px;
}

.laktosefrei {
    letter-spacing: 0;
    line-height: 11px;
    margin-left: 2px;
    margin-top: 9px;
    min-height: 13px;
    min-width: 54px;
    text-align: center;
    white-space: nowrap;
}

.bild-laktosefrei {
    height: 77px;
    object-fit: cover;
    width: 100px;
}

.joghurt-container {
    height: 105px;
    position: relative;
    width: 100px;
}


.joghurt {
    letter-spacing: 0;
    line-height: 11px;
    min-height: 13px;
    min-width: 39px;
    text-align: center;
    white-space: nowrap;
}